<div class="card mt-4">
    <h4 class="card-header">Dashboard</h4>
    <div class="card-body">
        <h1>Welcome {{user.firstName}}</h1>
        <app-account></app-account>

        <hr>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <app-subscribe></app-subscribe> 
                </div>
            </div>
            <div class="col-xs-6 ">
                <div class="form-group">
                    <h2>Two way data binding</h2>
                    <input type="text" [(ngModel)]="inputValue">
                    {{inputValue}}
                </div>
            </div>
        </div>



    </div>
</div>